* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:  #DEEFF9;
}

/* menu */

#sidebar {
    position: fixed;
    width: 250px;
    max-width: 85%;  /* not sure if they shouldn't be reversed*/
    height: 100%;
    background: rgba(0,0,0,0.92);
    left: -250px;
    transition: all 500ms linear;
    z-index: 10;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    color: #fff;
    list-style: none;
    padding: 15px 20px;
}

#sidebar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.8;
}

ul.menuScroll {
    overflow-y: scroll;
    height: 100%;
}

ul.menuScroll::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#sidebar .toggle-btn {
    position: absolute;
    left: 270px;
    top: 10px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: rgba(0,0,0,0.92);
    margin: 5px 0px;
}

#sidebar .bullet {
    list-style: square;
    list-style-position: inside;
    padding-left: 10px;
}

.menu-icon {
    width: 30px;

}

/**/



/* Fluid Grids */
.grids {
    width: 80%;
    margin-left: 10%;
}

main section {   /* main section */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    grid-column-gap: 0.5em;
    grid-row-gap: 0.8em;
}

/*main article {
    max-height: 350px;
}*/


#page-title {
    font-size: 3em;
    margin-left: 44%;
    margin-bottom: 20px;
}

/**/
#huset-logo {
    display: block;
    margin: auto;
    max-width: 40%;
}
/*Article design*/
.event {
    border: 1.5px solid #000;
    background: #FBFDFE;
    padding: 1.5em;
    margin: 0.3em;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

article h1 {
    max-width: 73%;
    text-transform: uppercase;
    font-size: 100%;
}

.price {
    color: #f70000;
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 100%;
}

article img {
    width: 500px;
    max-width: 100%;
     margin: 0.7em 0 1.1em 0;
}

.date, .time, .venue {
    font-weight: 700;
}


.description {
    max-height: 80px;
    overflow: hidden;
    margin-top: 0.5em;
    font-size: 15px;
    font-weight: 300;
}

.readmore {
    position: absolute;
    left: 36%;
    bottom: 1em;
    text-decoration: none;
    color: #f70000;
}

.event li {
    list-style: none;
}
/**/

/* Subpage CSS*/
#showSingleEvent {
    display: block;
    max-width: 50%;
    margin: auto;
    padding-top: 3%;

}

#showSingleEvent h1 {
    padding: 7%;
}

#showSingleEvent img {
    padding: 7%;
}

#showSingleEvent .time {
    padding: 1%;
}

#showSingleEvent .date {
    padding: 1%;
}

#showSingleEvent .venue {
    padding: 1%;
}

#showSingleEvent .description {
    height: 100%;
    max-height: 100%;
    overflow: visible;
    margin-top: 0.5em;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 13%;
}
/**/




